section{
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
}
section h1{
    font-size: 40px;
    color: white;
    background:rgb(89, 91, 247);
    padding: 2% 1%;
    margin-bottom: 0px;
}
section textarea{
    width: 99%;
    height: 200px;
    border: 3px solid grey;
    font-size: 15px;
}
section p{
    background: rgb(89, 91, 247);
    color: white;
    padding: 2% 1%;
    margin-top: 0px;
    font-size: 25px;
}